{"openapi":"3.1.1","info":{"version":"1.0.0","title":"Fabric API"},"servers":[{"url":"https://api.fabric.so","description":"Fabric API"}],"security":[{"OAuth2":[]},{"ApiKey":[]}],"paths":{"/v2/bookmarks":{"post":{"tags":["Bookmarks"],"operationId":"createBookmark","x-method-name":"create","summary":"Create bookmark","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"tags":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"}},"required":["id"]},{"type":"object","properties":{"name":{"type":"string","maxLength":255}},"required":["name"]}]}},"parentId":{"anyOf":[{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},{"type":"string","enum":["@alias::inbox","@alias::bin"]}],"description":"Parent resource ID or an alias (the alias is resolved to the actual ID during the request handling)."},"comment":{"allOf":[{"type":"object","properties":{"content":{"type":"string","maxLength":25000}}},{"nullable":true}]},"name":{"type":["string","null"],"minLength":1}},"required":["url","parentId"]}}}},"responses":{"201":{"description":"Bookmark created","content":{"application/json":{"schema":{"anyOf":[{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["bookmark"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["document"]}},"required":["data"]}]}]}}}}}}},"/v2/resources/{resourceId}/comments":{"get":{"tags":["Comments"],"operationId":"listResourceComments","x-method-name":"list","summary":"List comments","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"required":true,"name":"resourceId","in":"path"},{"schema":{"type":"integer","exclusiveMinimum":0},"required":false,"name":"limit","in":"query"},{"schema":{"type":["integer","null"],"minimum":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"string"},"required":false,"name":"accessToken","in":"query"}],"responses":{"200":{"description":"List of comments","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number","minimum":0},"data":{"type":"object","properties":{"comments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]}}},"required":["comments"]}},"required":["count","data"]}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","enum":["Not Found"]},"detail":{"type":"string","enum":["resource_not_found"]}},"required":["title","detail"]}}}}}}},"/v2/files":{"post":{"tags":["Files"],"operationId":"createFile","x-method-name":"create","summary":"Create file","description":"To create a file item you first need to store it using the upload endpoint.","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":["string","null"],"minLength":1,"maxLength":255},"attachment":{"type":"object","properties":{"path":{"type":"string"},"filename":{"type":"string"}},"required":["path","filename"]},"parentId":{"anyOf":[{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},{"type":"string","enum":["@alias::inbox","@alias::bin"]}],"description":"Parent resource ID or an alias (the alias is resolved to the actual ID during the request handling)."},"tags":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"}},"required":["id"]},{"type":"object","properties":{"name":{"type":"string","maxLength":255}},"required":["name"]}]}},"comment":{"allOf":[{"type":"object","properties":{"content":{"type":"string","maxLength":25000}}},{"nullable":true}]},"url":{"type":"string","format":"uri"},"mimeType":{"type":"string"},"metadata":{"type":"object","properties":{"voiceNote":{"type":["boolean","null"],"description":"Whether this item is the audio part of a voice note"},"transcript":{"type":["object","null"],"properties":{"key":{"type":"string"}},"required":["key"]}}}},"required":["attachment","parentId","mimeType"]}}}},"responses":{"201":{"description":"File created","content":{"application/json":{"schema":{"anyOf":[{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["document"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["audio"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["video"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["image"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["default"]}},"required":["data"]}]}]}}}}}}},"/v2/folders":{"post":{"tags":["Folders"],"operationId":"createFolder","x-method-name":"create","summary":"Create folder","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":["string","null"],"minLength":1,"maxLength":255},"parentId":{"anyOf":[{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},{"type":"string","enum":["@alias::inbox","@alias::bin"]}],"description":"Parent resource ID or an alias (the alias is resolved to the actual ID during the request handling)."},"description":{"type":["string","null"]},"icon":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string","minLength":1}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string","minLength":1}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"string","minLength":1}},"required":["type","customImage"]},{"nullable":true}]}},"required":["parentId"]}}}},"responses":{"201":{"description":"Folder created","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["folder"]}},"required":["data"]}]}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","enum":["Not Found"]},"detail":{"type":"string","enum":["resource_not_found"]}},"required":["title","detail"]}}}}}}},"/v2/memories":{"post":{"tags":["Memory"],"operationId":"createMemory","x-method-name":"create","summary":"Create memory","description":"Create a memory by analyzing the provided input data.\n\nSet `infer` to `false` to skip inference and store the memory verbatim.\n\nMemory inference is asynchronous. The response contains a job ID which can be used to track the status of the memory creation.","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"source":{"type":"string","enum":["text"]},"content":{"type":"string","minLength":5,"maxLength":20000},"infer":{"type":"boolean","default":true},"immutable":{"type":"boolean","default":false}},"required":["source","content"]}}}},"responses":{"200":{"description":"Memory created","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["completed"]},"memories":{"type":"object","properties":{"created":{"type":"array","items":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"}}},"required":["created"]}},"required":["id","status","memories"]},{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending"]}},"required":["id","status"]}]}}}}}}},"/v2/memories/{memoryId}":{"delete":{"tags":["Memory"],"operationId":"deleteMemory","x-method-name":"delete","summary":"Delete memory","description":"Delete an existing memory.","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"required":true,"name":"memoryId","in":"path"}],"responses":{"204":{"description":"Memory deleted"}}},"get":{"tags":["Memory"],"operationId":"getMemory","x-method-name":"get","summary":"Get memory","description":"Retrieve the details of a specific memory.","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"required":true,"name":"memoryId","in":"path"}],"responses":{"200":{"description":"Memory details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":["string","null"]},"content":{"type":"string"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","name","content","createdAt","modifiedAt"]}}}}}},"patch":{"tags":["Memory"],"operationId":"updateMemory","x-method-name":"update","summary":"Update memory","description":"Update the name and content of an existing memory.","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"required":true,"name":"memoryId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":["string","null"]},"content":{"type":"string","minLength":5,"maxLength":20000}}}}}},"responses":{"204":{"description":"Memory updated"}}}},"/v2/memories/jobs/{jobId}":{"get":{"tags":["Memory"],"operationId":"getMemoryJob","x-method-name":"getJob","summary":"Get memory job","description":"Retrieve the status and details of a memory creation job.","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"required":true,"name":"jobId","in":"path"}],"responses":{"200":{"description":"Memory job details","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["completed"]},"memories":{"type":"object","properties":{"created":{"type":"array","items":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"}}},"required":["created"]}},"required":["id","status","memories"]},{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending"]}},"required":["id","status"]}]}}}}}}},"/v2/memories/search":{"get":{"tags":["Memory"],"operationId":"searchMemories","x-method-name":"search","summary":"Search memories","description":"Search through memories using a query string.\n\nUses hybrid semantic and keyword-based search with a recency bias to find relevant memories. Results are sorted by relevance and include a relevance score (higher is better).","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string"},"required":false,"name":"query","in":"query"},{"schema":{"type":"integer","exclusiveMinimum":0},"required":false,"name":"limit","in":"query"},{"schema":{"type":["integer","null"],"minimum":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"object","properties":{"property":{"type":"string","enum":["id","id","createdAt","modifiedAt"]},"direction":{"type":"string","enum":["ASC","DESC"],"default":"ASC"}},"required":["property"]},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Memory search","content":{"application/json":{"schema":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"hasMore":{"type":"boolean"},"hits":{"type":"array","items":{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":["string","null"]},"content":{"type":"string"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","name","content","createdAt","modifiedAt"]},{"type":"object","properties":{"score":{"type":"number"}}}]}}},"required":["total","hasMore","hits"]}}}}}}},"/v2/notepads":{"post":{"tags":["Notepads"],"operationId":"createNotepad","x-method-name":"create","summary":"Create notepad","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"name":{"type":["string","null"],"minLength":1,"maxLength":255},"parentId":{"anyOf":[{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},{"type":"string","enum":["@alias::inbox","@alias::bin"]}],"description":"Parent resource ID or an alias (the alias is resolved to the actual ID during the request handling)."},"tags":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"}},"required":["id"]},{"type":"object","properties":{"name":{"type":"string","maxLength":255}},"required":["name"]}]}},"comment":{"allOf":[{"type":"object","properties":{"content":{"type":"string","maxLength":25000}}},{"nullable":true}]}},"required":["parentId"]},{"anyOf":[{"type":"object","properties":{"text":{"type":"string"}},"required":["text"]},{"type":"object","required":["ydoc"]}]}]}}}},"responses":{"201":{"description":"Notepad created","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["notepad"]}},"required":["data"]}]}}}}}}},"/v2/notepads/{resourceId}/content":{"get":{"tags":["Notepads"],"operationId":"getNotepadContent","x-method-name":"getContent","summary":"Get notepad content","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"required":true,"name":"resourceId","in":"path"}],"responses":{"200":{"description":"Notepad content","content":{"text/plain":{"schema":{"type":"string","format":"text"}}}},"404":{"description":"Notepad not found"}}}},"/v2/resources/{resourceId}":{"get":{"tags":["Resources"],"operationId":"getResource","x-method-name":"get","summary":"Get resource","parameters":[{"name":"X-Fabric-Workspace-Id","in":"header","required":false,"description":"Optional. When provided, the request is executed against the specified delegated workspace. If omitted, the parent workspace is used.","schema":{"type":"string"}},{"schema":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"required":true,"name":"resourceId","in":"path"}],"responses":{"200":{"description":"Resource detail","content":{"application/json":{"schema":{"oneOf":[{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["document"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["audio"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]}}}]}},"required":["id","type","subtype","isPrivate","private","folder"]},"stateProcessing":{"type":["string","null"],"enum":["pending","processing","completed","failed"],"description":"Status of the link preview"},"originUrl":{"type":["string","null"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":"string","maxLength":255}},"required":["id","name"]}},"chats":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]},"isPinned":{"type":"boolean"},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","isPinned","createdAt","modifiedAt"]}},"thumbnail":{"type":["object","null"],"properties":{"sm":{"type":"string"},"md":{"type":"string"},"lg":{"type":"string"},"xl":{"type":"string"},"original":{"type":"string"}}},"fileUrl":{"type":["string","null"]},"preferences":{"type":["object","null"],"additionalProperties":{"nullable":true}},"publishedAncestors":{"type":"array","items":{"type":"object","properties":{"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"accessToken":{"type":"string"}},"required":["resourceId","accessToken"]}},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"}},"required":["id","kind","mimeType","extension","name","description","size","url","commentCount","commentPinned","pins","pinnedTo","label","parent","ancestors","cover","user","root","stateProcessing","jobsProcessing","originUrl","tags","chats","thumbnail","fileUrl","preferences","isShared","isReadonly","isHidden","shareToken","publishToken","createdAt","modifiedAt"]},{"type":"object","properties":{"kind":{"type":"string","enum":["video"]}},"required":["data"]}]},{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"kind":{"type":"string","enum":["default","image","document","folder","bookmark","highlight","notepad","video","audio","email","person","voicenote"]},"mimeType":{"type":["string","null"]},"extension":{"type":["string","null"]},"name":{"type":["string","null"]},"description":{"type":["string","null"]},"icon":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["emoji"]},"emoji":{"type":"string"}},"required":["type","emoji"]},{"type":"object","properties":{"type":{"type":"string","enum":["predefined"]},"predefined":{"type":"string"}},"required":["type","predefined"]},{"type":"object","properties":{"type":{"type":"string","enum":["customImage"]},"customImage":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]}},"required":["type","customImage"]}]}]},"size":{"type":["number","null"]},"url":{"type":"string"},"commentPinned":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"content":{"type":"string","maxLength":25000},"createdAt":{"type":"string"},"modifiedAt":{"type":"string"},"resourceId":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"mentionedUsers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]}}},"required":["id","content","annotation","createdAt","modifiedAt","resourceId","user","mentionedUsers"]},{"nullable":true}]},"label":{"type":["object","null"],"properties":{"id":{"type":"number"},"hexColor":{"type":"string","maxLength":7}},"required":["id","hexColor"]},"parent":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},"cover":{"allOf":[{"type":"object","properties":{"url":{"type":"string"},"width":{"type":["number","null"]},"height":{"type":["number","null"]},"mime":{"type":["string","null"]}},"required":["url"]},{"nullable":true}]},"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.']{1,255}$"},"pictureUrlCdn":{"type":["string","null"],"maxLength":4096}},"required":["id"]},{"nullable":true}]},"root":{"type":["object","null"],"properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"type":{"type":"string","enum":["SYSTEM","SPACE","INTEGRATION"]},"subtype":{"anyOf":[{"type":"string","enum":["GOOGLE_DRIVE","GMAIL","GITHUB","IOS_DEVICE","ANDROID_DEVICE","RSS","NOTION","LOCAL_FS","DROPBOX","ONEDRIVE","MIXPANEL","STRIPE"]},{"type":"string","enum":["inbox","bin"]},{"nullable":true}]},"isPrivate":{"type":"boolean"},"folder":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"]}},"required":["id","name"]},{"type":"object","properties":{"user":{"allOf":[{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"name":{"type":["string","null"],"maxLength":255,"pattern":"^[\\p{Letter}\\p{Emoji_Presentation}\\p{Emoji_Modifier}0-9\\s\\-.'
[...]
